MONGO_URI=
PORT=
NODE_ENV=development

# JWT
JWT_ACCESS_SECRET=boilerplate@2026latest@access
JWT_ACCESS_EXPIRATION=boilerplate@2026latest@expire

# REFRESH
JWT_REFRESH_SECRET=boilerplate@2026latest
JWT_REFRESH_EXPIRATION=boilerplate@2026latest@refresh

# BCRYPT
BCRYPT_SALT_ROUND=

# FRONTEND URL
FRONTEND_URL=

# CLOUDINARY
CLOUDINARY_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_NAME=

# RATE LIMITING
REQUEST_RATE_LIMIT_TIME=  # example: 10 (10 min)
REQUEST_RATE_LIMIT=

# REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

# EMAIL
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=demo
EMAIL_FROM_NAME=Your App Name
UNSUBSCRIBE_MAIL=demo

# SESSION
EXPRESS_SESSION_SECRET=

# GOOGLE
GOOGLE_WEB_CLIENT_ID=
GOOGLE_OAUTH_ID=
GOOGLE_OAUTH_SECRET=
GOOGLE_CALLBACK_URL=

# FACEBOOK
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_APP_CALLBACK_URL=
